*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(170, 154, 151, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
}
#div1
{
    height: 400px;
    flex-basis: 400px;
    background-color: rgb(245 5 116);
    /* border: 5px solid; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}